
- if (game)
  input(type='hidden', name='game_id', id="game-id", value="#{game_id}")
  div#fb-root
  table
    thead
      tr
        th
          Player
        th
          Score
    tbody#player-list
      for player, player_id in game.players
        tr(id="player-#{player_id}", data-game-id="#{game_id}", data-player="#{player_id}", data-player-name="#{player.details.name}", data-score="0")
          td.playerName #{player.details.name}
          td.score 0

  ul#game-actions Actions:
    li
      a(href="#add-player", class="add-player")
        + Player

  ul#player-actions Actions:
    li
      a(href="#", data-value="-1")
        |-1
      a(href="#", data-value="-10")
        |-10
      a(href="#", data-value="+1")
        |+1
      a(href="#", data-value="+10")
        |+10

- else
  p Looks like something happend and this is not a valid game ID - SORRY!

