
- if (game)
  input(type='hidden', name='game_id', id="game-id", value="#{game_id}")
  input(type='hidden', name='current_user_id', id='current-user-id', value="#{current_user_id}")
  input(type='hidden', name='current_user_name', id='current-user-name', value="#{current_user_name}")
  div#fb-root
  table
    thead
      tr
        th 
        th Player
        th Score
        th 
    tbody#player-list
      for player, player_id in game.players
        - if (player_id==current_user_id)
          tr(id="player-#{player_id}", class="current", data-game-id="#{game_id}", data-player="#{player_id}", data-player-name="#{player.details.name}", data-score="#{player.details.score}")
            td.selector: input(type='checkbox')
            td.playerName #{player.details.name}
            td.score #{player.details.score}
            td.action 
        - else
          tr(id="player-#{player_id}", data-game-id="#{game_id}", data-player="#{player_id}", data-player-name="#{player.details.name}", data-score="#{player.details.score}")
            td.selector: input(type='checkbox')
            td.playerName #{player.details.name}
            td.score #{player.details.score}
            td.action 

  footer#actions
    div#wrapper
      ul#player-edit-actions.hidden
        li
          a(class="button", href="#winner") Confim Winner?


      ul#player-actions
        li
          a(class="button", href="#", data-value="-1")
            |-1
        li
          a(class="button", href="#", data-value="-10")
            |-10
        li
          a(class="button", href="#", data-value="+1")
            |+1
        li
          a(class="button", href="#", data-value="+10")
            |+10
        li
          a(class="button", href="#", data-value="options")
            |...

- else
  p Looks like something happend and this is not a valid game ID - SORRY!

